<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Document</title>
</head>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/productos/shop">Shop</a>
    </nav>
    <div class="right-icons">
        <a href="/login"><i class="fas fa-user"></i></a> <!-- Font Awesome icon for register -->
        <i class="fas fa-shopping-cart"></i> <!-- Font Awesome icon for shopping cart -->
    </div>
</header>





<body>