<%- include('../partials/head')%>

<section class="about-section">
   
    <div class="about-text">
        <h2>Sobre Nosotros</h2>
        <p>Somos una empresa dedicada a proporcionar soluciones innovadoras para tus necesidades. Nuestro equipo
            está compuesto por profesionales apasionados y comprometidos con la excelencia.</p>
    </div>
    <div class="about-image">
        <img src="/images/fondo-notebook.jpg" alt="Imagen sobre nosotros">
    </div>
</section>

<%- include('../partials/footer')%>
